<div ng-include="'/components/navbar/navbar.html'"></div>

<div ui-view>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header class="text-center">
                    <h3 class="page-header">Browse for Users</h3>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-unstyled list-users">
                    <li class="users-item" ng-repeat="user in users">
                        <h3><a ui-sref="people.profile({ id: user._id })">{{::user.name}}</a>
                        </h3>
                        <p>{{ ::user.email }}</p>
                        <div class="col-md-12 col-md-offset-12">
                            <div class="header-team">
                                <h5>Team:</h5>
                                <div ng-show="currentParticipant.team !== undefined">
                                    <a ui-sref="hackathons.page.team({ id: hackathon._id, team_id: currentParticipant.team._id })">{{ ::userTeam.name }}</a>
                                    <ul class="list-inline">
                                        <li>{{ ::currentParticipant.team.members.length }} members</li>
                                    </ul>
                                </div>
                                <div ng-show="currentParticipant.team == undefined">
                                    <p>Not on a team yet</p>
                                </div>

                            </div>
                        </div>
                </ul>
                </li>
                </ul>
            </div>


        </div>
    </div>
</div>
