<header class="profile-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="title">{{ ::user.name }}</h1>
				<p>{{ ::user.email }}</p>
				<p>{{ ::user.school }}</p>
            </div>
            <div class="col-md-4 col-md-offset-2">
                <div class="header-team">
                    <h5>Your team:</h5>
                    <div ng-show="currentParticipant.team !== undefined">
                        <a ui-sref="hackathons.page.team({ id: hackathon._id, team_id: currentParticipant.team._id })">{{ ::currentParticipant.team.name }}</a>
                        <ul class="list-inline">
                            <li>{{ ::currentParticipant.team.members.length }} members</li>
                        </ul>
                    </div>
                    <div ng-show="currentParticipant.team == undefined">
                        <p>Not on a team yet</p>
                    </div>
                    <div ng-show="!isLogged() && !currentParticipant">
                        <p>You need to log in</p>
                    </div>
                </div>
            </div>
        </div>
</header>
