// Hackacthon page

.hackathon-header {
  border-bottom: 1px solid #ddd;
  .title {
    margin-top: 0;
    display: inline-block;
  }
}

.list-hackathon-header {
  display: inline-block;
  position: absolute;
  top: 3px;
}

.header-team {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px;
}

.hackathon-page-nav {
  margin: 0;
  li {
    padding: 10px;
    margin: 0;
    background-color: #eee;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    cursor: pointer;
    &:first-child {
      border-top-left-radius: 3px;
    }
    &:last-child {
      border-top-right-radius: 3px;
      border-left: none;
      margin-left: -5px;
    }
    &.active {
      background: #ddd;
      font-weight: bold;
    }
  }
}