<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h3>Join {{hackathon.name}}</h3>
      <form role="form" ng-submit="joinHackathon(form)">
        <div class="form-group">
          <label for="description">Describe yourself and what you want to hack on</label>
          <textarea name="description" class="form-control" ng-model="form.info" cols="30" rows="10"></textarea>
        </div>
        <div class="form-group">
          <label for="skills">Interests</label>
          <p>Add a few <span class="label label-default">keywords</span> to help people who want to build similar things find you.  Comma separated.</p>
          <tags-input ng-model="form.interests"></tags-input>
        </div>
        <button class="btn btn-success">
          Participate
        </button>
      </form>
    </div>
  </div>
</div>
